.Contactame{
  width: 85%;
  height: 92vh;
  margin: auto;
  padding: 10vh 0;
  
  
}

.form {
    max-width: 400px;
    max-height: 480px;
    margin: 10 auto;
    padding: 50px 80px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    margin-top: 0px;
    
  }
  
  .input-container {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  
  textarea {
    resize: vertical;
  }

.form button {
  background-color: #fff; /* Color de fondo del botón */
  color: #000; /* Color del texto del botón */
  padding: 12px 20px; /* Espaciado interno del botón */
  border: none; /* Sin borde */
  border-radius: 4px; /* Bordes redondeados */
  cursor: pointer; /* Cursor tipo mano al pasar por encima del botón */
  font-size: 16px; /* Tamaño del texto del botón */
  transition: background-color 0.3s; /* Transición suave del color de fondo */
}

.form button:hover {
  background-color: gray; /* Cambia el color de fondo al pasar el mouse */
}

.gif {
    margin-left: 650px;
    margin-top: -530px;
  }